<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="/css/studentPage.css">
</head>
<body>
<header id="header">
    <div class="logo-container">
        <a class="logo-head" title="Trang chủ" href="/homepage">
            <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
        </a>
    </div>
    <div>
        <ul class="action-tool">
            <li class="btn"><a href="/homepage">Trang chủ</a></li>
            <li class="btn"><a href="/student/progress">Tiến độ học</a></li>
            <li class="btn"><a href="/student/listCourse">Các khoá học</a></li>
            <li class="btn"><a href="/student/profile?edit=false">Thông tin cá nhân</a></li>
            <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
            <li class="btn"><a href="/referenceManage">Tài liệu tham khảo</a></li>
        </ul>
    </div>
    <div>
        <ul class="action-tool">
            <li class="btn"><a onclick="confirmLogout()" title="Đăng xuất">Đăng xuất</a></li>
        </ul>
        <script src="/javascript/confirmLogout.js"></script>
    </div>
</header>
<section id="main">
    <div id="left-side-main">
        <div id="left-side-content">
            <ul>
                <li><a href="/student/profile?edit=false">Thông tin cá nhân</a></li>
                <li><a href="/student/profile?edit=true">Chỉnh sửa thông tin cá nhân</a></li>
            </ul>
        </div>
    </div>
    <!--        Hiển thị preview trang cá nhân-->
    <div th:if="${param.edit[0]} == 'false'" class="right-side-main" th:object="${user}">
        <div id="profile">
            <div id="avatar-profile">
                <img th:src="*{base64Avatar}">
            </div>
            <div id="main-profile">
                <div>
                    <p th:text="*{'Họ và tên: ' + fullname}"></p>
                </div>
                <div>
                    <p th:text="'Ngày sinh: ' + *{birthDate ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Giới tính: ' + *{gender ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Tài khoản email: ' + ${email ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Học vấn: ' + *{literacy ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Quê quán: ' + *{address ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Sở thích: ' + *{hobby ?: ''}"></p>
                </div>
                <div>
                    <p th:text="'Thành tựu đạt được: ' + *{achivement ?: ''}"></p>
                </div>
            </div>
        </div>
    </div>
    <!--        Hiển thị trang chỉnh sửa-->
    <div th:if="${param.edit[0]} == 'true'" class="right-side-main">
        <form action="/student/profile/edit" method="post" enctype="multipart/form-data" th:object="${user}">
            <div>
                <label for="fullname">Họ và tên: </label><br>
                <input type="text" id="fullname" name="fullname" class="text-field-content" th:field="*{fullname}" required>
            </div>
            <div>
                <label>Avatar</label>
            </div>
            <div>
                <img id="avatar">
                <br>
                <input type="file" name="avatar" id="files" accept="image/*" th:field="*{avatar}">
            </div>
            <br>
            <div>
                <label for="gender">Giới tính: </label><br>
                <select name="gender" id="gender" th:field="*{gender}">
                    <option value=""></option>
                    <option value="Nam" th:selected="*{gender == 'Nam'}">Nam</option>
                    <option value="Nữ" th:selected="*{gender == 'Nữ'}">Nữ</option>
                    <option value="Khác" th:selected="*{gender == 'Khác'}">Khác</option>
                </select>
            </div>
            <div>
                <label for="birthDate">Ngày sinh: </label><br>
                <input type="date" id="birthDate" name="birthDate" th:field="*{birthDate}" pattern="\d{2}-\d{2}-\d{4}" placeholder="dd-MM-yyyy">
            </div>
            <br>
            <div>
                <label for="literacy">Trình độ học vấn: </label><br>
                <input type="text" id="literacy" name="literacy" class="text-field-content" th:field="*{literacy}">
            </div>
            <div>
                <label for="address">Địa chỉ: </label><br>
                <input type="text" id="address" name="address" class="text-field-content" th:field="*{address}">
            </div>
            <div>
                <label for="hobby">Sở thích: </label><br>
                <input type="text" id="hobby" name="hobby" class="text-field-content" th:field="*{hobby}">
            </div>
            <div>
                <label for="achivement">Thành tựu: </label><br>
                <input type="text" id="achivement" name="achivement" class="text-field-content" th:field="*{achivement}">
            </div>
            <div id="btn">
                <button type="submit" id="submit" onclick="return confirm('Bạn có chắc chắn muốn chỉnh sửa thông tin cá nhân?')">Chỉnh sửa</button>
            </div>
        </form>
    </div>
</section>
</body>
<script src="/javascript/showAvatar.js"></script>
</html>