<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Thông tin tài khoản</title>
        <link rel="stylesheet" href="/css/studentPage.css">
    </head>
<body>
    <header id="header">
        <div class="logo-container">
            <a class="logo-head" title="Trang chủ" href="/homepage">
                <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
            </a>
        </div>
        <div>
            <ul class="action-tool" sec:authorize="hasRole('ROLE_giáo viên')">
                <li class="btn"><a href="/homepage">Trang chủ</a></li>
                <li class="btn"><a href="/teacher/course/listCourse">Quản lý khoá học</a></li>
                <li class="btn"><a href="/teacher/profile">Thông tin cá nhân</a></li>
                <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
                <li class="btn"><a href="/referenceManage">Tài liệu tham khảo</a></li>
            </ul>
            <ul class="action-tool" sec:authorize="hasRole('ROLE_học sinh')">
                <li class="btn"><a href="/homepage">Trang chủ</a></li>
                <li class="btn"><a href="/student/progress">Tiến độ học</a></li>
                <li class="btn"><a href="/student/listCourse">Các khoá học</a></li>
                <li class="btn"><a href="/student/profile?edit=false">Thông tin cá nhân</a></li>
                <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
                <li class="btn"><a href="/referenceManage">Tài liệu tham khảo</a></li>
            </ul>
            <ul class="action-tool" sec:authorize="hasRole('ROLE_admin')">
                <li class="btn"><a href="/homepage">Trang chủ</a></li>
                <li class="btn"><a href="/admin/listCourse">Quản lý khoá học</a></li>
                <li class="btn"><a href="/admin/listAccount">Quản lý tài khoản</a></li>
                <li class="btn"><a href="/admin/listNews">Quản lý tin tức</a></li>
                <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
            </ul>
        </div>
        <div>
            <ul class="action-tool">
                <li class="btn"><a th:href="@{/logout}" title="Đăng xuất">Đăng xuất</a></li>
            </ul>
        </div>
    </header>
    <section id="main">
        <div id="left-side-main">
            <div id="left-side-content">
                <ul>
                    <li><a href="/account/">Thông tin tài khoản</a></li>
                    <li><a href="/account/changeEmail">Thay đổi tài khoản email</a></li>
                    <li><a href="/account/checkPassword">Thay đổi mật khẩu</a></li>
                    <li><a onclick="event.preventDefault(); submitForm()" style="cursor: pointer;">Xoá tài khoản</a></li>
                    <script src="/javascript/deleteAccount.js"></script>
                </ul>
            </div>
        </div>
      <!--        Hiển thị preview trang cá nhân-->
        <div th:if="${accountPage}" class="right-side-main">
            <div id="profile">
                <div id="main-profile">
                    <div>
                        <p th:text="'Tên tài khoản:         ' + ${username}"></p>
                    </div>
                    <br>
                    <br>
                    <div>
                        <p th:text="'Tài khoản email:       ' + ${email}"></p>
                    </div>
                </div>
            </div>
        </div>
      <!--        Hiển thị trang chỉnh sửa-->
        <div th:if="${changeEmailPage}" class="right-side-main">
            <div th:unless="${waitEmail}">
                <form action="/account/changeEmail" method="post">
                    <div>
                        <label for="email">Nhập tài khoản email mới: </label>
                        <input type="email" id="email" name="email" class="text-field-content margin-left" th:object="${email}" required>
                    </div>
                    <br>
                    <div>
                        <p th:if="${errorEmail}">Tài khoản email không hợp lệ</p>
                    </div>
                    <br>
                    <div id="btn">
                        <button type="submit" id="submit">Chỉnh sửa</button>
                    </div>
                </form>
            </div>
            <div style="margin-top: 60px;">
                <p th:if="${waitEmail}" style="font-size: 35px; text-align:center;">Vui lòng kiểm tra email để xác minh tài khoản</p>
            </div>
        </div>
        <div th:if="${checkPasswordPage}" class="right-side-main">
            <form action="/account/checkPassword" method="post">
                <label for="checkPassword">Nhập mật khẩu cũ: </label>
                <input type="password" id="checkPassword" name="checkPassword" class="text-field-content margin-left" th:object="${checkPassword}" required>
                <br>
                <div>
                    <p th:if="${checkError}">Mật khẩu không đúng</p>
                </div>
                <div class="btn-account">
                    <button type="submit">Kiểm tra</button>
                </div>
            </form>
        </div>
        <div th:if="${changePasswordPage}" class="right-side-main">
            <form action="/account/changePassword" method="post" onsubmit="return validateForm()">
                <label for="newPassword">Vui lòng nhập mật khẩu mới:</label><br>
                <input type="password" id="newPassword" name="newPassword" class="text-field-content" th:object="${newPassword}" placeholder="Mật khẩu mới" required><br>
                <input type="password" id="checkNewPassword" name="checkPassword" class="text-field-content" placeholder="Xác nhận lại mật khẩu" required>
                <br>
                <div id="error-message" style="display: none;"></div>
                <div class="btn-account">
                    <button type="submit">Kiểm tra</button>
                </div>
            </form>
            <script src="/javascript/changeAccountPassword.js"></script>
        </div>
        <div th:if="${success}" class="right-side-main">
            <div style="margin-top: 60px;">
                <p style="font-size: 35px; text-align:center;">Thay đổi mật khẩu thành công</p>
            </div>
        </div>
    </section>
</body>
</html>