<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${course.name}"></title>
    <link rel="stylesheet" href="/css/contentPage.css">
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
</head>
<body>
<section id="header-section">
    <div id="left-top-header">
        <a href="/homepage" target="_self">
            <img src="/image/Hust-logo.jpg" alt="Logo" id="logo-header" title="Quay về trang chủ">
        </a>
        <form action="/course/findCourse" method="post">
            <img src="/image/search-button.png" id="search-button">
            <input type="text" placeholder="Tìm kiếm khoá học" name="findCourse" id="search-text" th:object="${findCourse}">
        </form>
    </div>
    <ul id="header-link">
        <li><a href="/homepage">Trang chủ</a></li>
        <li><a href="/news">Tin tức</a></li>
        <li><a href="/course">Khoá học</a></li>
        <li><a href="/teacherProfile">Giảng viên</a></li>
        <li><a href="">Thư viện</a></li>
    </ul>
    <div id="login-button" sec:authorize="!isAuthenticated()">
        <a th:href="@{/login/loginForm}">Đăng nhập</a>
    </div>
    <div sec:authorize="isAuthenticated()" id="isLogin">
        <div sec:authorize="hasRole('ROLE_admin')">
            <a th:href="@{/admin}" class="username-login" th:object="${user}">
                <img th:src="*{base64Avatar}">
                <p th:text="*{fullname}"></p>
            </a>
        </div>
        <div sec:authorize="hasRole('ROLE_giáo viên')">
            <a th:href="@{/teacher}" th:object="${user}" class="username-login">
                <img th:src="*{base64Avatar}">
                <p th:text="*{fullname}"></p>
            </a>
        </div>
        <div sec:authorize="hasRole('ROLE_học sinh')">
            <a th:href="@{/student}" th:object="${user}" class="username-login">
                <img th:src="*{base64Avatar}">
                <p th:text="*{fullname}"></p>
            </a>
        </div>
        <div id="logout-button">
            <a th:href="@{/logout}">Đăng xuất</a>
        </div>
    </div>
</section>
<section class="mainpage-title">
    <div class="topPage" >
        <a href="/homepage"><p>Trang chủ</p></a><p>/</p><a href="/course"><p>Danh sách khoá học</p></a><p>/</p><p th:text="${course.name}"></p>
    </div>
    <div class="flex-row">
        <div class="course-title">
            <h1 th:text="${course.name}"></h1>
            <p th:text="${course.introduction}"></p>
            <p><strong>Ngày đăng tải khoá học:</strong> <em th:text="${course.time}"></em></p>
            <div sec:authorize="hasRole('ROLE_học sinh')">
                <form method="post" th:action="'/course/' + ${course.id} + '/enrollCourse'" th:unless="${isEnrolled}">
                    <button type="submit" value="submit">Đăng ký khoá học</button>
                </form>
            </div>
        </div>
        <div id="image-course">
            <img th:src="${course.base64Image}">
        </div>
    </div>
</section>
<section id="course-section" th:object="${course}">
    <div class="list-container">
        <ul class="row-list">
            <li><a href="#description">Mô tả khoá học</a></li>
            <li><a href="#list-lecture">Đề cương khoá học</a></li>
            <li><a href="#teacher-course">Giáo viên giảng dạy</a></li>
            <li><a href="#comment-course">Đánh giá khoá học</a></li>
            <li><a href="#related-course">Các khoá học liên quan</a></li>
        </ul>
    </div>
    <div id="description" th:utext="${course.description}">

    </div>
    <div id="list-lecture">
        <h1>Đề cương khoá học</h1>
        <div th:each="lecture: ${listLecture}" class="lecture" th:unless="${isEnrolled}">
            <strong th:text="'Bài ' + ${lecture.number} + ': '"></strong>
            <em th:text="${lecture.title}"></em>
        </div>
        <div th:each="lecture: ${listLecture}" class="lecture" th:if="${isEnrolled}">
            <a th:href="'/course/' + ${course.id} + '/lecture/' + ${lecture.id}">
                <strong th:text="'Bài ' + ${lecture.number} + ': '"></strong>
                <em th:text="${lecture.title}"></em>
            </a>
        </div>
    </div>
    <div id="teacher-course">
        <h1> Giáo viên giảng dạy</h1>
        <div>
            <a th:href="${'/teacherProfile/' + profile.id}" target="_self" th:object="${profile}" class="items">
                <div id="avatar-profile-course">
                    <img th:src="*{base64Avatar}">
                </div>
                <div id="info-profile">
                    <h1 th:text="*{fullname}"></h1>
                    <p th:text="*{description}"></p>
                </div>
            </a>
        </div>
    </div>
    <div id="comment-course">
        <h1>Đánh giá khoá học</h1>
        <div>
            <p class="averageRate">Đánh giá chung: <em th:text="${averageRate ?: 'Chưa có đánh giá nào'}"></em></p>
        </div>
        <button onclick="toggleDiv()" th:if="${isComment}" id="edit-btn">Chỉnh sửa bình luận</button>
        <div id="myDiv" style="display:none;" th:if="${isEnrolled}">
            <form th:action="'/course/' + ${course.id} + '/editComment'" method="post" th:object="${userComment}" th:if="${isComment}">
                <label for="rate">Đánh giá khoá học: </label>
                <select name="rate" id="rate" th:field="*{rate}">
                    <option value="5" th:selected="*{rate == '5'}">5</option>
                    <option value="4" th:selected="*{rate == '4'}">4</option>
                    <option value="3" th:selected="*{rate == '3'}">3</option>
                    <option value="2" th:selected="*{rate == '2'}">2</option>
                    <option value="1" th:selected="*{rate == '1'}">1</option>
                    <option value="0" th:selected="*{rate == '0'}">0</option>
                </select>
                <br>
                <label>Bình luận khoá học: </label><br><br>
                <textarea id="comment" name="comment" th:field="*{comment}"></textarea>
                <div id="btn">
                    <button type="submit" id="submit">Chỉnh sửa</button>
                </div>
            </form>
        </div>
        <div th:each="comment: ${listComment}" class="comment">
            <div id="avatar-comment">
                <img th:src="${comment.base64Avatar}">
            </div>
            <p th:text="${comment.fullname}" style="font-weight: bold;"></p>
            <div>
                <div style="display: flex;">
                    <p th:text="'Đánh giá: ' + ${comment.rate} + ' sao'"></p>
                    <p th:text="${comment.time}"></p>
                </div>
                <p th:utext="${comment.comment ?: ''}"></p>
            </div>
        </div>
        <script>
            function toggleDiv() {
                var div = document.getElementById('myDiv');
                if (div.style.display === 'none') {
                    div.style.display = 'block';
                } else {
                    div.style.display = 'none';
                }
            }
        </script>
        <div sec:authorize="hasRole('ROLE_học sinh')" th:if="${isEnrolled}">
            <form th:action="'/course/' + ${course.id} + '/comment'" method="post" th:object="${newComment}" th:unless="${isComment}">
                <label for="rate">Đánh giá khoá học: </label>
                <select name="rate" id="rate" th:field="*{rate}">
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>
                <br>
                <label>Bình luận khoá học: </label><br><br>
                <textarea id="comment" name="comment" th:field="*{comment}"></textarea>
                <div id="btn">
                    <button type="submit" id="submit">Bình luận</button>
                </div>
            </form>
        </div>
    </div>
    <div id="related-course">
        <h1>Danh sách khoá học liên quan</h1>
        <div class="list">
            <div th:each="relatedCourse: ${listRelatedCourse}" class="items">
                <a th:href="${'/course/' + relatedCourse.id}" target="_self">
                    <div class="image">
                        <img th:src="${relatedCourse.base64Image}">
                    </div>
                    <br>
                    <span th:text="${relatedCourse.time}"></span>
                    <h1 th:text="${relatedCourse.name}"></h1>
                    <p th:text="${relatedCourse.introduction}"></p>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact-section">
    <h1>Thông tin liên hệ</h1>
</section>
</body>
    <script>
        CKEDITOR.replace('comment', {
            height: 200,
        });
    </script>
</html>