<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div id="header">
    <a class="logo-head" title="Trang chủ" href="/homepage">
        <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
    </a>
    <ul class="action-tool">
        <li class="login-btn">
            <a href="/login/loginForm" title="Đăng nhập">Đăng nhập</a>
        </li>
        <li class="login-btn">
            <a href="/register/registerForm" title="Đăng ký tài khoản">Đăng ký</a>
        </li>
    </ul>
</div>
<div class="main" th:unless="${success}">
    <div th:unless="${param.verifySuccess}">
        <form class="form-sign-in" action="#" th:action="@{/login/checkAccount}" method="post" th:object="${checkAccount}" th:unless="${labelThongBao}">
            <div class="sign-in__header">
                <h3 class="sign-in__heading">Vui lòng nhập tên tài khoản và email để xác minh tài khoản</h3>
            </div>
            <div class="sign-in__box">
                <input type="text" class="sign-in__input" placeholder="Tên tài khoản" name="username" th:field="*{username}">
                <input type="email" class="sign-in__input" placeholder="Tài khoản email" name="email" th:field="*{email}">
            </div>
            <div class="sign-in__button">
                <button type="submit" class="sign-in-button">Xác minh tài khoản</button>
            </div>
            <div class="sign-in__alert">
                <p th:text="${error}"></p>
            </div>
            <div class="sign-in__forgot">
                <a href="/login/loginForm" class="forgot-password">Đăng nhập</a>
            </div>
        </form>
    </div>
    <div th:if="${labelThongBao}" class="labelThongBao">
        <p>Vui lòng chờ tin nhắn tới email để xác nhận tài khoản</p>
    </div>
    <div th:if="${param.verifySuccess}">
        <form class="form-sign-in" th:action="'/login/forgetPassword/changePassword?code='+ ${code}" method="post" onsubmit="return validateForm()">
            <div class="sign-in__header">
                <h3 class="sign-in__heading">Vui lòng thay đổi mật khẩu</h3>
            </div>
            <div class="sign-in__box">
                <input type="password" class="sign-in__input" placeholder="Mật khẩu mới" id="newPassword" name="newPassword" th:object="${newPassword}">
                <input type="password" class="sign-in__input" placeholder="Xác nhận lại mật khẩu" id="checkNewPassword">
            </div>
            <div id="error-message" class="sign-in__alert" style="display: none;"></div>
            <div class="sign-in__button">
                <button type="submit" class="sign-in-button">Thay đổi mật khẩu</button>
            </div>
        </form>
        <script src="/javascript/changeAccountPassword.js"></script>
        </div>
    </div>
    <div class="main" th:if="${success}">
        <div class="labelThongBao">
            <p>Mật khẩu thay đổi thành công</p>
            <p>Vui lòng chuyển hướng đến trang <a href="/login/loginForm">Đăng nhập</a></p>
        </div>
    </div>
    <div id="contact">
        <h1>Thông tin liên hệ</h1>
    </div>
</body>
</html>