<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${reference.title}"></title>
    <link rel="stylesheet" href="/css/contentPage.css">

</head>
<body>
    <section id="header-section">
        <div id="left-top-header">
            <a href="/homepage" target="_self">
                <img src="/image/Hust-logo.jpg" alt="Logo" id="logo-header" title="Quay về trang chủ">
            </a>
            <form action="/course/findCourse" method="post">
                <img src="/image/search-button.png" id="search-button">
                <input type="text" placeholder="Tìm kiếm khoá học" name="findCourse" id="search-text" th:object="${findCourse}">
            </form>
        </div>
        <ul id="header-link">
            <li><a href="/homepage">Trang chủ</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li><a href="/course">Khoá học</a></li>
            <li><a href="/teacherProfile">Giảng viên</a></li>
            <li><a href="/reference">Thư viện</a></li>
        </ul>
        <div id="login-button" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login/loginForm}">Đăng nhập</a>
        </div>
        <div sec:authorize="isAuthenticated()" id="isLogin">
            <div sec:authorize="hasRole('ROLE_admin')">
                <a th:href="@{/admin}" class="username-login" th:object="${user}">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div sec:authorize="hasRole('ROLE_giáo viên')">
                <a th:href="@{/teacher}" th:object="${user}" class="username-login">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div sec:authorize="hasRole('ROLE_học sinh')">
                <a th:href="@{/student}" th:object="${user}" class="username-login">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div id="logout-button">
                <a onclick="confirmLogout()">Đăng xuất</a>
                <script src="/javascript/confirmLogout.js"></script>
            </div>
        </div>
    </section>
    <section class="mainpage-title">
        <div class="topPage">
            <a href="/homepage"><p>Trang chủ</p></a><p>/</p><a href="/news"><p>Thư viện</p></a><p>/</p><p th:text="${reference.title}"></p>
        </div>
        <div>
            <h1>Tài liệu tham khảo</h1>
        </div>
    </section>
    <section id="reference-section" th:object="${reference}">
        <h1 th:text="*{title}"></h1>
        <p id="date" th:text="*{time}"></p>
        <iframe th:src="*{urlFile}" th:unless="*{urlFile == ''}"></iframe>
        <p th:utext="*{description}" class="description"></p>
    </section>
    <section id="contact-section">
        <h1>Thông tin liên hệ</h1>
    </section>
</body>
</html>