<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách tài khoản</title>
    <link rel="stylesheet" href="/css/adminPage.css">
</head>
<body>
<header id="header">
    <div class="logo-container">
        <a class="logo-head" title="Trang chủ" href="/homepage">
            <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
        </a>
    </div>
    <div>
        <ul class="action-tool">
            <li class="btn"><a href="/homepage">Trang chủ</a></li>
            <li class="btn"><a href="/admin/listCourse">Quản lý khoá học</a></li>
            <li class="btn"><a href="/admin/listAccount">Quản lý tài khoản</a></li>
            <li class="btn"><a href="/admin/listNews">Quản lý tin tức</a></li>
            <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
        </ul>
    </div>
    <div>
        <ul class="action-tool">
            <li class="btn"><a th:href="@{/logout}" title="Đăng xuất">Đăng xuất</a></li>
        </ul>
    </div>
</header>
<section id="main">
    <div id="left-side-main">
        <div id="left-side-content">
            <ul>
                <li><a href="/admin/listAccount">Danh sách tài khoản</a></li>
                <li><a href="/admin/listAccount/teacherAccount">Danh sách tài khoản giáo viên</a></li>
                <li><a href="/admin/listAccount/studentAccount">Danh sách tài khoản học sinh</a></li>
                <li><a href="/admin/listAccount/unapprovedAccount">Danh sách tài khoản chưa được cấp quyền</a></li>
                <li><a href="/admin/listAccount/lockedAccount">Danh sách tài khoản đang bị khoá</a></li>
            </ul>
        </div>
    </div>
    <div id="right-side-main">
        <table class="content-table">
            <tr>
                <th style="width:10%;">AccountID</th>
                <th style="width:13%;">Username</th>
                <th style="width:15%;">Fullname</th>
                <th style="width:8%;">Role</th>
                <th style="width:15%;">Approved</th>
                <th style="width:12%;">Locked</th>
                <th style="width:15%;"></th>
            </tr>
            <tr th:each="account: ${listAccount}">
                <td style="text-align:center;">
                    <p th:text="${account.id}"></p>
                </td>
                <td>
                    <p th:text="${account.username}"></p>
                </td>
                <td th:if="*{account.role == 'giáo viên' && listTeacherProfile != null}">
                    <a th:href="${'/teacherProfile/' + account.id}"><p th:each="teacherProfile: ${listTeacherProfile}" th:if="${teacherProfile.account} == ${account}" th:text="${teacherProfile.fullname}"></p></a>
                </td>
                <td th:if="*{account.role == 'học sinh' && listTeacherProfile != null}">
                    <p th:each="studentProfile: ${listStudentProfile}" th:if="${studentProfile.account} == ${ account}" th:text="${studentProfile.fullname}"></p>
                </td>
                <td>
                    <p th:if="${account.role} == 'học sinh'">Học sinh</p>
                    <p th:if="${account.role} == 'giáo viên'">Giáo viên</p>
                </td>
                <td>
                    <p th:if="${account.approved}">Đã được cấp quyền</p>
                    <p th:unless="${account.approved}">Chưa được cấp quyền</p>
                </td>
                <td>
                    <p th:if="${account.locked}">Đã bị khoá</p>
                </td>
                <td th:unless="${account.approved}">
                    <form method="post">
                        <button th:formaction="${'/admin/listAccount/approveAccount/' + account.id + '?option=' + option}" class="action-btn">Cấp quyền</button>
                    </form>
                </td>
                <td th:if="${account.approved}">
                    <form method="post">
                        <button th:if="${account.locked}" th:formaction="${'/admin/listAccount/unlockAccount/' + account.id + '?option=' + option}" class="action-btn">Mở khoá tài khoản</button>
                        <button th:unless="${account.locked}" th:formaction="${'/admin/listAccount/lockAccount/' + account.id + '?option=' + option}" class="action-btn">Khoá tài khoản</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</section>
</body>
</html>