<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý bài giảng</title>
    <link rel="stylesheet" href="/css/teacherPage.css">
</head>
<body>
    <header id="header">
        <div class="logo-container">
            <a class="logo-head" title="Trang chủ" href="/homepage">
                <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
            </a>
        </div>
        <div>
            <ul class="action-tool">
                <li class="btn"><a href="/homepage">Trang chủ</a></li>
                <li class="btn"><a href="/teacher/course/listCourse">Quản lý khoá học</a></li>
                <li class="btn"><a href="/teacher/profile">Thông tin cá nhân</a></li>
                <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
            </ul>
        </div>
        <div>
            <ul class="action-tool">
                <li class="btn"><a th:href="@{/logout}" title="Đăng xuất">Đăng xuất</a></li>
            </ul>
        </div>
    </header>
    <section id="main">
        <div id="left-side-main">
            <div id="left-side-content">
                <ul>
                    <li><a th:href="${'/teacher/course/' + id + '/previewCourse'}">Trang xem trước khoá học</a></li>
                    <li><a th:href="${'/teacher/course/' + id + '/editCourse'}">Chỉnh sửa khoá học</a></li>
                    <li><a th:href="${'/teacher/course/' + id + '/addLecture'}">Thêm bài giảng</a></li>
                    <li><a th:href="${'/teacher/course/' + id + '/manageLecture'}">Quản lý bài giảng</a></li>
                </ul>
            </div>
        </div>
        <div class="right-side-main">
            <table>
                <tr>
                    <th style="width:15%;">STT</th>
                    <th style="width:50%;">Tên bài giảng</th>
                    <th style="width:9%;"></th>
                </tr>
                <tr th:each="lecture: ${listLecture}">
                    <td style="text-align:center;">
                        <p th:text="'Bài ' + ${lecture.number}"></p>
                    </td>
                    <td>
                        <p th:text="${lecture.title}"></p>
                    </td>
                    <td>
                        <a th:href="${'/teacher/course/' + id + '/manageLecture/' + lecture.id}">Chỉnh sửa</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>