<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý khoá học</title>
    <link rel="stylesheet" href="/css/teacherPage.css">
</head>
<body>
    <header id="header">
        <div class="logo-container">
            <a class="logo-head" title="Trang chủ" href="/homepage">
                <img class="logo-header" src="/image/Hust-logo.jpg" alt="">
            </a>
        </div>
        <div>
            <ul class="action-tool">
                <li class="btn"><a href="/homepage">Trang chủ</a></li>
                <li class="btn"><a href="/teacher/course/listCourse">Quản lý khoá học</a></li>
                <li class="btn"><a href="/teacher/profile">Thông tin cá nhân</a></li>
                <li class="btn"><a href="/account">Thông tin tài khoản</a></li>
            </ul>
        </div>
        <div>
            <ul class="action-tool">
                <li class="btn"><a th:href="@{/logout}" title="Đăng xuất">Đăng xuất</a></li>
            </ul>
        </div>
    </header>
    <section id="main">
        <div id="left-side-main">
            <div id="left-side-content">
                <ul>
                    <li><a href="/teacher/course/listCourse">Danh sách khoá học</a></li>
                    <li><a href="/teacher/course/listCourse/unapprovedCourse">Danh sách khoá học đang chờ phê duyệt</a></li>
                    <li><a href="/teacher/course/addCourse">Tạo khoá học mới</a></li>
                </ul>
            </div>
        </div>
        <div class="right-side-main">
            <table>
                <tr>
                    <th style="width:35%;">Tên khoá học</th>
                    <th style="width:13%;">Ngày đăng tải</th>
                    <th style="width:18%">Phân loại</th>
                    <th style="width:16%;">Approved</th>
                    <th style="width:9%;">Locked</th>
                    <th style="width:9%;"></th>
                </tr>
                <tr th:each="course: ${listCourse}">
                    <td>
                        <p th:text="${course.name}"></p>
                    </td>
                    <td>
                        <p th:text="${course.time}"></p>
                    </td>
                    <td>
                        <p th:text="${course.courseType}"></p>
                    </td>
                    <td>
                        <p th:if="${course.approved}">Đã được phê duyệt</p>
                        <p th:unless="${course.approved}">Chưa được phê duyệt</p>
                    </td>
                    <td>
                        <p th:if="${course.locked}">Đã bị khoá</p>
                    </td>
                    <td>
                        <a th:href="${'/teacher/course/' + course.id + '/previewCourse'}">Chỉnh sửa</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>