html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

p {
    line-height: 1.4;
}

a{
    text-decoration: none;
}

a:visited {
    color: blue;
}

button{
    cursor: pointer;
}

#header-section {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    margin-top: -8px;
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(161, 151, 151, 0.671);
    width: 100%;
    font-size: 25px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 5px 100px rgb(167, 167, 167);
    height: auto;
}

#left-top-header {
    font-family: 'Times New Roman', Times, serif;
    float: right;
    color: black;
    display: flex;
    margin-left: 70px;
    align-items: center;
    height:100px
}

#logo-header {
    margin: 15px 10px 0 0;
    height: 90px;
}

#search-text {
    /* margin: 30px; */
    height: 25px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px 30px 5px 10px;
}

#search-button {
    position: relative;
    top: 5px;
    left: 240px;
    width: 20px;
    height: 20px;
}

#header-link {
    display: flex;
    padding: auto;
    list-style-type: none;
}

#header-link a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    background-color: grey;

}

#header-link a:hover {
    background-color: rgb(73, 73, 73);;
}

#login-button {
    margin-right: 50px;
    font-size: 20px;
}

#login-button a {
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

#login-button a:hover {
    background-color: rgb(73, 73, 73);
}

#isLogin{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username-login {
    margin: 0 50px;
    color: blue;
}

#logout-button {
    margin-right: 50px;
    font-size: 20px;
}

#logout-button a {
    background-color: gray;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
}

#logout-button a:hover {
    background-color: rgb(73, 73, 73);
}

.mainpage-title{
    margin: -100px 0 0 0;
    background-color: blue;
    color:white;
    height: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 100px 20% 0 10%;
    font-size: 35px;
}

.topPage{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}
.topPage a{
    text-decoration: none;
    color: white;
}

.topPage a:hover{
    text-decoration: underline;
}

.topPage p{
    font-size: 15px;
    padding: 0 10px 0 0;
}

.main-section{
    display: flex;
    justify-content: space-between;
}

.content{
    margin: 1% 5%;
}

.list-lecture{
    margin: 80px 30px;
    border: 1px solid gray;
}

.list-lecture ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-lecture li{
    margin: -1px -1px 0 -1px;
    padding: 10px 20px;
    border: 1px solid gray;
}

.list-lecture a{
    color: black;
    font-size: 20px;
}

.list-lecture em{
    max-width: 95%;
}

#contact-section {
    background-color: #EAEAF4;
    height: 10vh;
    justify-content: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 150px 200px;
}