<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>-->

</head>
<body>
    <form action="/index" method="post" enctype="multipart/form-data">
        <img id="image">
        <input type="file" name="image" id="files" accept="image/*">
        <button type="submit"></button>
    </form>
<!--    <div>-->
<!--        hello-->
<!--    </div>-->
</body>
    <script>
        document.getElementById("files").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("image").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
</html>