<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${news.title}"></title>
    <link rel="stylesheet" href="/css/news-detail-page.css">

</head>
<body>
    <section id="header-section">
        <div id="left-top-header">
            <a href="/homepage" target="_self">
                <img src="/image/Hust-logo.jpg" alt="Logo" id="logo-header" title="Quay về trang chủ">
            </a>
            <form>
                <img src="/image/search-button.png" id="search-button">
                <input type="text" placeholder="Tìm kiếm khoá học" id="search-text">
            </form>
        </div>
        <ul id="header-link">
            <li><a href="/homepage">Trang chủ</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li><a href="">Khoá học</a></li>
            <li><a href="">Giảng viên</a></li>
            <li><a href="">Thư viện</a></li>
            <li><a href="">Hỗ trợ</a></li>
        </ul>
        <div id="login-button" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login/loginForm}">Đăng nhập</a>
        </div>
        <div sec:authorize="isAuthenticated()" id="isLogin">
            <div sec:authorize="hasRole('ROLE_admin')">
                <a th:href="@{/admin}" th:text="${fullname}" class="username-login"></a>

            </div>
            <div sec:authorize="hasRole('ROLE_giao-vien')">
                <a th:href="@{/teacher}" th:text="${fullname}" class="username-login"></a>
            </div>
            <div id="logout-button">
                <a th:href="@{/logout}">Đăng xuất</a>
            </div>
        </div>
    </section>
    <section id="information-news" th:object="${news}">
        <h1 th:text="*{title}"></h1>
        <p id="date" th:text="*{time}"></p>
        <div th:utext="*{imagePage}" class="image-page"></div>
        <h2 th:text="*{description}" class="description"></h2>
        <div id="content" th:utext="*{detail}"></div>
    </section>
    <section id="contact-section">
        <h1>Thông tin liên hệ</h1>
    </section>
</body>
</html>