<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${lecture.title}"></title>
    <link rel="stylesheet" href="/css/lecturePage.css">
</head>
<body>
    <section id="header-section">
        <div id="left-top-header">
            <a href="/homepage" target="_self">
                <img src="/image/Hust-logo.jpg" alt="Logo" id="logo-header" title="Quay về trang chủ">
            </a>
            <form action="/course/findCourse" method="post">
                <img src="/image/search-button.png" id="search-button">
                <input type="text" placeholder="Tìm kiếm khoá học" name="findCourse" id="search-text" th:object="${findCourse}">
            </form>
        </div>
        <ul id="header-link">
            <li><a href="/homepage">Trang chủ</a></li>
            <li><a href="/news">Tin tức</a></li>
            <li><a href="/course">Khoá học</a></li>
            <li><a href="/teacherProfile">Giảng viên</a></li>
            <li><a href="">Thư viện</a></li>
        </ul>
        <div id="login-button" sec:authorize="!isAuthenticated()">
            <a th:href="@{/login/loginForm}">Đăng nhập</a>
        </div>
        <div sec:authorize="isAuthenticated()" id="isLogin">
            <div sec:authorize="hasRole('ROLE_admin')">
                <a th:href="@{/admin}" class="username-login" th:object="${user}">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div sec:authorize="hasRole('ROLE_giáo viên')">
                <a th:href="@{/teacher}" th:object="${user}" class="username-login">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div sec:authorize="hasRole('ROLE_học sinh')">
                <a th:href="@{/student}" th:object="${user}" class="username-login">
                    <img th:src="*{base64Avatar}">
                    <p th:text="*{fullname}"></p>
                </a>
            </div>
            <div id="logout-button">
                <a onclick="confirmLogout()">Đăng xuất</a>
                <script src="/javascript/confirmLogout.js"></script>
            </div>
        </div>
    </section>
    <section class="mainpage-title">
        <div class="topPage">
            <a href="/homepage"><p>Trang chủ</p></a><p>/</p><a th:href="'/course/' + ${course.id}"><p th:text="${course.name}"></p></a><p>/</p><p th:text="${lecture.title}"></p>
        </div>
    </section>
    <section class="main-section" th:object="${lecture}">
        <div class="content">
            <h1 th:text="*{title}"></h1>
            <video width="1280" height="720" controls th:if="${lecture.urlVideo}">
                <source th:src="'/course/' + ${course.id} + '/lecture/' + ${lectureId} +'/videosrc'">
            </video>
            <p th:utext="*{description}"></p>
            <h2 th:unless="${listQuiz.size == 0}">Câu hỏi ôn tập</h2>
            <form th:action="'/course/' + ${course.id} + '/lecture/' + ${lectureId} + '/submit'" method="post" th:object="${answers}" th:if="${answers}" th:unless="${isSubmit}">
                <div th:each="quiz, quizStat: ${listQuiz}">
                    <p><strong th:text="'Câu ' + ${quiz.number} + ': ' + ${quiz.question}"></strong></p>
                    <div class="answer-radio">
                        <input type="radio" th:field="*{answers[__${quizStat.index}__]}" value="answer1" onclick="updateHiddenField(this)" th:unless="${quiz.answer1 == ''}">
                        <p th:text="${quiz.answer1}"></p>
                    </div>
                    <div class="answer-radio">
                        <input type="radio" th:field="*{answers[__${quizStat.index}__]}" value="answer2" onclick="updateHiddenField(this)" th:unless="${quiz.answer2 == ''}">
                        <p th:text="${quiz.answer2}"></p>
                    </div>
                    <div class="answer-radio">
                        <input type="radio" th:field="*{answers[__${quizStat.index}__]}" value="answer3" onclick="updateHiddenField(this)" th:unless="${quiz.answer3 == ''}">
                        <p th:text="${quiz.answer3}"></p>
                    </div>
                    <div class="answer-radio">
                        <input type="radio" th:field="*{answers[__${quizStat.index}__]}" value="answer4" onclick="updateHiddenField(this)" th:unless="${quiz.answer4 == ''}">
                        <p th:text="${quiz.answer4}"></p>
                    </div>
                    <input type="hidden" th:field="*{answers[__${quizStat.index}__]}" th:value="${''}">
                </div>
                <button type="submit" class="btn-submit" th:unless="${listQuiz.size == 0}" onclick="return confirm('Bạn có chắc chắn muốn nộp bài?')">Nộp bài</button>
            </form>
            <script src="/javascript/quizChoice.js"></script>
            <div th:if="${isSubmit}">
                <h2 th:text="'Điểm số: ' + ${grade}"></h2>
                <div th:each="quiz, quizStat: ${listQuiz}">
                    <p><strong th:text="'Câu ' + ${quiz.number} + ': ' + ${quiz.question}"></strong></p>
                    <p th:text="'a. ' + ${quiz.answer1}" th:unless="${quiz.answer1 == ''}" class="answer"></p>
                    <p th:text="'b. ' + ${quiz.answer2}" th:unless="${quiz.answer2 == ''}" class="answer"></p>
                    <p th:text="'c. ' + ${quiz.answer3}" th:unless="${quiz.answer3 == ''}" class="answer"></p>
                    <p th:text="'d. ' + ${quiz.answer4}" th:unless="${quiz.answer4 == ''}" class="answer"></p>
                    <p th:if="${quiz.correctAnswer == 'answer1'}" th:text="'Đáp án đúng: a. ' + ${quiz.answer1}"></p>
                    <p th:if="${quiz.correctAnswer == 'answer2'}" th:text="'Đáp án đúng: b. ' + ${quiz.answer2}"></p>
                    <p th:if="${quiz.correctAnswer == 'answer3'}" th:text="'Đáp án đúng: c. ' + ${quiz.answer3}"></p>
                    <p th:if="${quiz.correctAnswer == 'answer4'}" th:text="'Đáp án đúng: d. ' + ${quiz.answer4}"></p>
                </div>
            </div>
        </div>
        <div class="list-lecture">
            <ul>
               <li th:each="lectures: ${listLecture}">
                   <a th:href="'/course/' + ${course.id} + '/lecture/' + ${lectures.id}">
                       <strong th:text="'Bài ' + ${lectures.number} + ': '"></strong>
                       <em th:text="${lectures.title}"></em>
                   </a>
               </li>
            </ul>
        </div>
    </section>
<section id="contact-section">
    <h1>Thông tin liên hệ</h1>
</section>
</body>
</html>